<app-banner></app-banner>
<div class="corpo container text-center">
  <div class="row">
    <div *ngFor="let produto of produtos" class="col-md-4">
      <app-produto-detalhe
        [id]="produto.id"
        [titulo]="produto.titulo"
        [valor]="produto.valor"
        [img]="produto.img">
      </app-produto-detalhe>
      <a [routerLink]="'/' + produto.link" class="btn btn-primary">Ver mais</a>
      <button [routerLink]="'/' + produto.link" class="btn btn-success">Comprar agora</button>
    </div>
  </div>
  </div>